/* Colors */

$black: #131313;
$white: #ffffff;
$blue: #4e95db;

$color-1: #cfdbdc;
$color-2: #a6cfd3;
$color-3: #92ccd5;
$color-4: #367ca3;
$color-5: #154711;

$primary: $color-5;
$secondary: $color-1;
$accent: #9c27b0;

$dark: $color-5;
$dark-page: #121212;

$positive: #00a627;
$negative: #b81c1c;
$info: $blue;
$warning: #edae00;
